.top-buffer{
	margin-top: 50px;
}
.Rt{
	right: 0;
}
.card-width{
	height: 434px;
}
.nav-color{
	background-color: #006064;
}
html {
    position: relative;
    min-height: 100%;
}
body{
	font-family: '0 Roya', tahoma, Arial;
	margin: 0 0 200px; /* bottom = footer height */
}
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    overflow:hidden;
}
.title-size {
	font-size: 20px !important;
}
.pagination li.active{
    background-color: #00796b;
}
.btn{
	margin: 5px;
}
/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2)
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}